#wrapper {
    width:100%;
    height: 100vh;
    background: #EFF1F4;
    overflow: auto;
}

#left-section {
    width: 50%;
    float:left;
}

#right-section {
    float: right;
    width: 49%;
    height: 100vh;
    padding: 1% 0;
    border-left: 1px solid #DDD;
    padding: 20px;
    overflow-y: scroll;
}