.user {
    font-size: 42px;
}

.ui.comments {
    max-width: 100%;
    width:100%;
    font-size: 20px;
}

.fullWidth {
    width:100%;
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.comment {
    border-bottom: 1.5px solid #DDD !important;
}

#searchBar {
    width:49%;
    padding-left: 1%;
    border: 0;
    background-color: #EFF1F4;
}

#searchBar input {
    border: 1px solid #999; 
}

#chat-wrapper {
    padding:4%;
    overflow-y: scroll;
    height: 95vh;
}

.content {
    border-radius: 8px;
    padding: 9px 15px;
}