@model WhisperLeaderboard.Models.Leaderboard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetLeaderboard</title>
    <style>
        body {
            background-color: #2D4343;
        }
        h1 {
            color: #FFFFFF;
        }
        .content {
            background-color: #FFFFFF;
            height: 300px;
            width: 300px;
            border-radius: 7px;

            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -150px;
            margin-top: -150px;
        }
        table {
            width: inherit;
            height: inherit;
        }
        td {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Classement</h1>
    </div>
    <div class="content">
        <table border=1 frame=void rules=rows>
            @foreach (var entry in Model.Entries)
            {
                <tr>
                    <td>@entry.Name1</td>
                    <td>@entry.Name2</td>
                    <td>@entry.Score</td>
                </tr>
            }
        </table>
    </div>
    <div>
        <img src="~/images/WHISPP.png" />
    </div>
</body>
</html>
