@model WhisperLeaderboard.Models.Leaderboard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>GetLeaderboard</title>
    <style>
        body {
            background-color: #2D4343;
            font-family: 'Raleway', sans-serif;
            overflow: hidden;
        }

        h1 {
            color: #FFFFFF;
            font-size: 120px;
            margin-top: 0px;
        }

        h2 {
            text-align: right;
            padding-right: 55px;
            margin: 0px;
            font-size: 36px;
            color: #FFFFFF;
        }

        .content {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: fit-content;
            height: 100%;
        }

        .tableContainer {
            background-color: #FFFFFF;
            height: 350px;
            width: 720px;
            border-radius: 7px;
        }

        .image {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        table {
            width: inherit;
            height: inherit;
        }

        td {
            font-size: 30px;
            padding-left: 30px;
            width: 240px;
        }

            td.score {
                width: 120px;
                padding-left: 0px;
            }
    </style>
</head>
<body>
    <div align="left">
        <h1>Classement</h1>
    </div>
    <div class="content" align="left" style="top: 50%;">
        <div align="center">
            <h2>Score</h2>
        </div>
        <div class="tableContainer" id="mytable" align="center">
            <table border=1 frame=void rules=rows>
                @{int i = 1;}
                @foreach (var entry in Model.Entries)
                {
                    <tr>
                        <td><span>@i. </span><span>@entry.Name1</span></td>
                        <td>@entry.Name2</td>
                        <td class="score">@entry.Score</td>

                    </tr>
                    i++;
                }
            </table>
        </div>
    </div>
    <div class="image">
        <img src="~/images/WHISPP.png" />
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/leaderboard.js"></script>